header {
    width: min(1345px, 90%);
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.app-info,
.container-app-rating,
.add-wishlist,
.add-wishlist>span {
    display: flex;
    align-items: center;
}

.app-logo {
    width: 72px;
    margin: 7px 24px 0 0;
    border: 0;
    border-radius: 20%;
    box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}

.app-details,
.app-subtitle {
    border: 0;
    color: inherit;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.app-details h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow-wrap: anywhere;
    word-break: keep-all;
}

.subtitle {
    color: #01875f;
    fill: #01875f;
    stop-color: #01875f;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: .00625em;
}

.header-rating {
    color: #202124;
    fill: #202124;
    stop-color: #202124;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .0178571429em;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.body-rating,
.subtitle-info {
    color: #5f6368;
    fill: #5f6368;
    stop-color: #5f6368;
    font-family: Roboto, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-rating {
    height: 20px;
    letter-spacing: .025em;
}

.container-app-rating {
    margin-top: 8px;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container-app-rating div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
    padding: 0 16px;
    position: relative;
    gap: 4px;
}

#rating-2>span::before,
#rating-3>span::before,
#rating-4>span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 1px;
    background-color: rgba(95, 99, 104, 0.178);
}

#rating-4>.header-rating {
    background-color: #000;
    color: #fff;
    aspect-ratio: 1/1;
    height: 20px;
    font-size: 0.7rem;
    border-radius: 4px;
}

.body-rating>.fa-circle-info {
    cursor: pointer;
    line-height: 12px;
    margin-left: 4px;
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
}

.download-app>button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #01875f;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-wishlist,
.add-wishlist>span {
    justify-content: center;
    gap: 8px;
    color: #01875f;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
}

.app-available {
    color: #5f6368;
    fill: #5f6368;
    stop-color: #5f6368;
    width: 100%;
    margin-top: 20px;
    padding: 4px 0;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    gap: 16px;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .0142857143em;
    text-align: center;
}